<!DOCTYPE html>
<html lang="en">

<head>
  <title>SchoolBag</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="The Revelutionary Technology for Education">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%- include('sections/links')%>

  <style>
    html {
      scroll-behavior: smooth;
    }
  </style>
</head>

<body>

  <div class="super_container">

    <!-- Header -->
    <%- include('sections/navBar')%>
    <!-- Menu -->

    <!-- Home -->

    <div class="home">
      <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

          <!-- Home Slider Item -->
          <div class="owl-item">
            <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)">
            </div>
            <div class="home_slider_content">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="home_slider_title">Staying at home because of COVID-19?</div>
                    <div class="home_slider_subtitle">| Stay green | Save the World | No travels | Join with Us |</div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Home Slider Item -->
          <div class="owl-item">
            <div class="home_slider_background" style="background-image:url(images/home_slider_6.jpg)">
            </div>
            <div class="home_slider_content">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="home_slider_title" style="color: whitesmoke;">Education is changed</div>
                    <div class="home_slider_subtitle" style="color: whitesmoke;">| No Tutions | No Travels | More
                      worries | Stay Home | Learn More |</div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Home Slider Item -->
          <div class="owl-item">
            <div class="home_slider_background" style="background-image:url(images/home_slider_3.jpg)">
            </div>
            <div class="home_slider_content">
              <div class="container">
                <div class="row">
                  <div class="col text-center">
                    <div class="home_slider_title" style="color: whitesmoke;">Are you struggling with your study..?
                    </div>
                    <div class="home_slider_subtitle" style="color: whitesmoke;">We made learning is simple | It's just
                      in few clicks |</div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Home Slider Nav -->

      <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    </div>

    <!-- Features -->

    <div class="features mb-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="section_title_container text-center">
              <h2 class="section_title">Welcome To <span style="color: #9C103E;">SchoolBag</span></h2>
              <div class="section_subtitle">
                <p></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row features_row">

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><img src="images/icon_1.png" alt=""></div>
              <h3 style="color: #9C103E;" class="feature_title">The expert Teachers</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><img src="images/icon_2.png" alt=""></div>
              <h3 style="color: #9C103E;" class="feature_title">Tutes & PDF</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><img src="images/icon_3.png" alt=""></div>
              <h3 style="color: #9C103E;" class="feature_title">Best Courses</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>

          <!-- Features Item -->
          <div class="col-lg-3 feature_col">
            <div class="feature text-center trans_400">
              <div class="feature_icon"><img src="images/icon_4.png" alt=""></div>
              <h3 style="color: #9C103E;" class="feature_title">Learn from any Teachers</h3>
              <div class="feature_text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>



    <!-- Team -->
    <section id="aboutUs">
      <div class="team">
        <div class="team_background parallax-window" data-parallax="scroll" data-image-src="images/team_background.jpg"
          data-speed="0.8"></div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="section_title_container text-center">
                <h2 class="section_title">Who are <span style="color: #9C103E;">We...</span></h2>
                <div class="section_subtitle">
                  <h4>Education is the gateway for success. And we also found a lack of resources in the
                    internet to study local syllabus in SriLanka. We found some problems regarding
                    students in Sri Lanka</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row team_row">

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image"><img src="images/town.png" alt=""></div>
                <div class="team_body">
                  <div class="team_title"><a>Tution Centers</a></div>
                  <div class="team_subtitle">Most tution centers and teachers are centralized in town
                    areas. So those who from village side and far from the town have to spend more time
                    and money just to attend the classes</div>

                </div>
              </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image"><img src="images/misssing.png" alt=""></div>
                <div class="team_body">
                  <div class="team_title"><a>Follow the lessons</a></div>
                  <div class="team_subtitle">Students were pulled to the situation to never miss a class.
                    If they missed it, they couldn't follow the lessons continually</div>
                </div>
              </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image"><img src="images/angry.png" alt=""></div>
                <div class="team_body">
                  <div class="team_title"><a>Teaching methods</a></div>
                  <div class="team_subtitle">Some teachers’ teaching methods are allergic for some sort of
                    students, It doesn’t mean that they taught in a bad way but the thing is the exact
                    student want some other method to understand</div>

                </div>
              </div>
            </div>

            <!-- Team Item -->
            <div class="col-lg-3 col-md-6 team_col">
              <div class="team_item">
                <div class="team_image"><img src="images/moneeeee.png" alt=""></div>
                <div class="team_body">
                  <div class="team_title"><a>Cost</a></div>
                  <div class="team_subtitle">And also who are affordable to pay money in big range they
                    hire teachers for private classes.Poor couldn't afford their studies in private
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->

    <footer class="footer">
      <div class="footer_background" style="background-image:url(images/footer_background.png)"></div>
      <div class="container">
        <div class="row footer_row">
          <div class="col">
            <div class="footer_content">
              <div class="row">

                <div class="col-lg-3 footer_col">

                  <!-- Footer About -->
                  <div class="footer_section footer_about">
                    <div class="footer_logo_container">
                      <a href="/" style="text-decoration: none;">
                        <div class="footer_logo_text">School<span>Bag</span></div>
                      </a>
                    </div>
                    <div class="footer_about_text">
                      <p>Join with us in Facebook.</p>
                    </div>
                    <div class="footer_social">
                      <ul>
                        <li><a href="/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>

                <div class="col-lg-3 footer_col">

                  <!-- Footer Contact -->
                  <div class="footer_section footer_contact">
                    <div class="footer_title">Contact Us</div>
                    <div class="footer_contact_info">
                      <ul>
                        <li>Email: Info.schoolbag@gmail.com</li>
                        <li>Phone: +(94)76 123 4567</li>
                        <li>#123,Grove Street,Jaffna,Srilanka</li>
                      </ul>
                    </div>
                  </div>

                </div>


                <!-- 
                <div class="col-lg-3 footer_col clearfix">

                  <div class="footer_section footer_mobile">
                    <div class="footer_title">Mobile</div>
                    <div class="footer_mobile_content">
                      <div class="footer_image"><a href="#"><img src="images/mobile_1.png" alt=""></a></div>
                      <div class="footer_image"><a href="#"><img src="images/mobile_2.png" alt=""></a></div>
                    </div>
                  </div>

                </div> -->

              </div>
            </div>
          </div>
        </div>

        <div class="row copyright_row">
          <div class="col">
            <div class="copyright d-flex flex-lg-row flex-column align-items-center justify-content-start">
              <div class="cr_text">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/plugins/scrollmagic/ScrollMagic.min.js"></script>
  <script src="/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
  <script src="/js/custom.js"></script>

</body>

</html>